* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  /*para que las cajas no desborden una con otrs*/
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #696969;
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    margin-top: 10px;
    padding: 0 50px;
}
    
    .header{
        margin: 0 50px;
        padding: 0 30px;
        background: url(imagenes/cabecera.jpg);
        background-position: center;
        background-attachment: content;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        height: 250px;
    }
        .menu{
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
            margin-bottom: 30px;
        }
            .logo{
                flex: 1 1 auto;
            }
            .logo img{
                flex: 1 1 auto;
                height: 50px;
            }
            .nav{
                flex: 5 1 auto;
            }
                .nav a{
                    font-size: 14px;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #ee7159;
                }
            .social{
                flex: 1 1 auto;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                height: 100%;
            }
                .social a{
                    font-size: 18px;
                    padding: 0, 5px;
                }
                .social a :hover{
                    color: #4caeeb;
                }
        .texto-principal{
            background: rgba(0,0,0,.1);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            margin-bottom: 10px;
        }

            blockquote{
                color: #ee7159;
                opacity: 80%;
                background: rgab(0,0,0,.1);
                font-family: 'Lora', serif;
                font-size:30px;
                font-weight: 300px;
                text-align: center;
                line-height: 0.2; /*espacio entrelinea*/          
            }
            blockquote :before{
                margin-left: -45px;
            }
            blockquote :before,
            blockquote :after{
                font-size: 100px;
                position: absolute;
            }
    .section{
        margin: 10px 50px;
        padding: 5px;
        background: #d7d7d7;
        display: flex;
    }
        .articulos{
            background: #d7d7d7;
            flex: 2 1 100%; /*he modificado en lugar de poner auto, he puesto 100%*/
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                padding: 5px;
                flex: 1 1 40%;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 10px;
                background: #e9e9e9;
            }
            .article img{
                width: 100%;
            }
            .article a{
                padding: 10px 0px;
                margin: 10px 0;
                display: inline-block;
            }
            .article a:hover{
                color: #e99592;
                padding: 10px 0px;
                margin: 10px 0;
                display: inline-block;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                color: #fff;
                font-size: 25px;
                text-transform: uppercase;
                padding: 0 0 10px 0;
            }
            .navegacion{
                background: #a52a2a;
                flex: 1 1 100%;
                margin: 10px 10px 0 10px;
            }
            .navegacion a{
                color: #fff;
                font-size: 11px;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .navegacion a:hover{
                color:#e99592;
            }
        .aside{
            background: #e9e9e9;
            flex-flow: column nowrap;
            flex: 1 1 auto;
            margin: 10px 5px 10px 0;
        }
        .aside img{
            width: 100%;
        }
            .publicidad{
                padding: 5px;
            }
    .footer{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
        .pie{
            text-align: center;
        }

@media all and (max-width: 800px){
    .section{
            flex-direction: column;
        }
.aside{
    display: flex;
    justify-content: center;
}
}

@media all and (max-width: 600px){

En el ejercicio no cambia nada en esta versión, 
pero yo creo que los artículos deberian estar en columnas.
.articulos{
    flex-direction: column;
}
.texto-principal h1{
    font-size: 15px;
}
}
@media all and (max-width: 400px){

    /*En el ejercicio no cambia nada en esta versión, 
    pero yo creo que los artículos deberian estar en columnas.*/
    
    .articulos{
        flex-direction: column;
    }
    .header{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        height: 200px;
    }
    
    .nav{
        margin: 0;
        padding: px;
        flex-flow: column nowrap;  
        height: 100px;    
        align-items: center;
    }
    .social{
        flex-flow: row nowrap;
        flex: 1 1 100%;
        justify-content: space-around;
    }
    .social a{
        font-size: 12px;
        color: #ee7159;
    }
    .nav a{
        font-size: 10px;
        padding: 0 10px;
    }
    .texto-principal h1{
        flex: 1 1 100%;
        font-size: 12px;
    }
    }
